

#titulocadastro {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#cadastrarUsuario label {
    color: white;
}

#botao2 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#botoes {
    display: flex;
    justify-content: space-between;
}

#h1lista, #titulocadastro {
    color: white;
}

body {
    background: linear-gradient(90deg, #000000 0%, #ffffff 100%);
}

#bodyindex2 {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

